@using System.Threading
@inherits UmbracoViewPage<ProductsViewModel>
@{
    Layout = "master.cshtml";
}
@Html.Partial("~/Views/Partials/SectionHeader.cshtml")
<section class="section">
    <div class="container">

        <!-- todo: implement category selector -->
        <!--
        <nav class="nav-bar nav-bar--center nav-bar--air-bottom">
            <a class="nav-link nav-link--black nav-link--active" href="">All</a>
            <a class="nav-link nav-link--black" href="">Clothing</a>
            <a class="nav-link nav-link--black" href="">Instruments</a>
            <a class="nav-link nav-link--black" href="">Accessories</a>
            <a class="nav-link nav-link--black" href="">Other</a>
        </nav>-->

        <div class="row">
            @foreach (var facetField in Model.FacetFields)
            {
                var facetFieldAlias = facetField.CreateFacetFieldAlias(Thread.CurrentThread.CurrentUICulture.Name);
                var facet = Model.FacetGroups.First(x => x.Alias == facetFieldAlias);
                <div class="col-md-2 col-sm-4">
                    <div class="select-wrapper">
                        <form action="@Model.Url" method="get">
                            <select id="@facetFieldAlias" onchange="this.form.submit()" name="@facetFieldAlias" class="facet-control">
                                <option value="">@facetField.Label</option>
                                @foreach (var facetValue in facet.Facets.OrderBy(x => x.Sort))
                                {
                                    <option selected="@(Model.FacetSelection.ContainsKey(facetFieldAlias) && (Model.FacetSelection[facetFieldAlias].Select(x => x.Value).Contains(facetValue.Value)))" @(facetValue.Count > 0 ? "" : "disabled") value="@facetValue.Value">@facetValue.Label (@facetValue.Count)</option>
                                }
                            </select>
                        </form>
                    </div>
                </div>
            }
        </div>

        <div class="product-grid">
            @if (Model.Results != null)
            {
                foreach (Product product in Model.Results)
                {
                    <a href="@product.Url" class="product-grid__item" style="background-image: url('@product.Photos.Url')">
                        <div class="product-grid__item__overlay">
                            <div class="product-grid__item__name">@product.ProductName</div>
                            <div class="product-grid__item__price">@Model.DefaultCurrency @product.Price.ToString("F")</div>
                        </div>
                    </a>
                }
            }
        </div>
    </div>
</section>